<div id="estudiantespostulados">
  <input type="text" placeholder="Search ID" name="search-id" />
  <input type="text" placeholder="Search first name" name="search-first-name" />
  <input type="text" placeholder="Search last name" name="search-last-name" />
  <select name="search-estado" id="filter-estado">
    <option value="">Seleccionar</option>
  </select>
</div>
<table datatable data-table="estudiantespostulados" [dtOptions]="dtOptions" class="row-border hover">
</table>